#footer {
position: relative;
height: 50vh;
width: 100vw;
bottom: 0;
left: 0;
background: white;
z-index: 5;
box-shadow: -1px -1px 25px grey;
}

#text {
  height: 25vh;
  width: 25vw;
  background: white;
  opacity: 30%;
  font-size: large;
  color: black;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 10;
}